/*--- sekcja dyskografia ---*/
.albums {
  background: linear-gradient($boxshadow2, $boxshadow2), #fff;
  position: relative;
  overflow: hidden;

  .albums--box {
    background: linear-gradient($boxshadow2, $boxshadow2), url("/assets/images/bcgr3.jpg") 20% bottom /240% no-repeat scroll #fff;
    @include min-device(phone-h) {

      background-position-x: 60%;
    }
    @media (min-width: 640px) {
      background-size: contain;
    }
    @include min-device(tablet-v) {
      min-height: 100vh;
      background-size: contain;
      background-position-x: 60%;
    }
  }

  article {
    position: absolute;
    max-width: 740px;
    padding: 70px 0;

    h2:after,
    h2:before {
      width: 10%;
      @include min-device(tablet) {
        width: 30%;
      }
    }

    a {
      font-weight: 500;
      text-decoration: none;
      color: $typecolor;

      &:hover {
        text-decoration: underline;
      }
    }

    ul {
      list-style: none;
      margin: 0 auto;
      height: auto;
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      flex-wrap: wrap;
      z-index: 1000;

      li {
        display: flex;
        flex-basis: auto;
        flex-direction: row;
        justify-content: center;
        flex-grow: 2;
        margin: 70px 0 30px 0;
        padding: 0 15px;

        time {
          transform: rotate(-90deg);
          color: $typecolor;
          font: 300 1.3em/1.08em serenity;
          letter-spacing: 0.1em;
          -webkit-font-smoothing: antialiased;
          font-smoothing: grayscale;
          width: auto;
          height: 25px;
          width: 43px;
          margin: 5px -6px 0 0;
          text-shadow: 0 0 15px $fontshadow;
        }

        img {
          box-shadow: 0 0 15px $fontshadow;
        }

        .album__desc {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          flex: 1;
          margin-top: -5px;
          min-heigt: 100px;
          width: 150px;
          @include min-device(phone) {
            width: 200px;
          }

          & > h3 {
            padding-left: 15px;
          }

          a {
            height: auto;
            margin-left: 15px;
            font: 500 1.3em serenity;
            text-decoration: none;
            -webkit-font-smoothing: antialiased;
            font-smoothing: grayscale;
            letter-spacing: 0.1em;
            outline: 1px solid $linkcolor;
            box-shadow: 0 0 10px $fontshadow, 0 0 10px $fontshadow inset;
            text-shadow: 0 0 15px $fontshadow;
            width: 140px;

            &:active,
            &:focus,
            &:hover {
              outline: 3px solid $linkcolor;
              font-weight: 800;
              letter-spacing: 0.09em;
            }

            & svg {
              margin: 3px 12px 0 10px;
              box-shadow: 0 0 15px $fontshadow;
            }
          }
        }
      }
    }
  }
}
