/*colors*/
$darkmenu: #2B2B2A;
$typecolor: rgb(230, 230, 230);
$linkcolor: rgb(255, 255, 255);
$boxshadow: rgba(69, 69, 64, 0.8);
$boxshadow1: rgba(55, 55, 52, 0.8);
$boxshadow2: rgba(43, 43, 39, 0.8);
$boxshadow3: rgba(29, 29, 27, 0.8);
$boxshadow4: hsla(60, 2, 21, 0.83);
$fontshadow: rgba(6, 0, 0, 0.4);
