/*--- sekcja gallery ---*/
.gallery {
  background: linear-gradient($boxshadow3, $boxshadow3), #fff;
  min-height: 100vh;

  .gallery--box {
    article {
      margin: 0;
      width: 300px;
      max-width: 800px;
      @include min-device(phone-h) {
        width: 500px;
      }
      @include min-device(tablet-v) {
        width: 740px;
      }
      @include min-device(tablet) {
        width: 800px;
      }
      @supports (-webkit-overflow-scrolling: touch) {}

      .slide {
        height: 15rem;
        display: flex;
        align-items: center;
        justify-content: center;
        @include min-device(phone-h) {
          height: 20rem;
        }
        @include min-device(tablet-v) {
          height: 30rem;
        }
        // @include min-device(tablet) {
        // width: 800px;
        // }
        img {
          max-width: 95%;
          max-height: 95%;
          box-shadow: 0 0 10px $fontshadow;
        }
      }
    }
  }
}
