@import url("https://use.typekit.net/sgm3mxm.css"); //colors
$darkmenu: #2B2B2A;
$typecolor: rgb(230, 230, 230);
$linkcolor: rgb(255, 255, 255);
$boxshadow: rgba(69, 69, 64, 0.8);
$boxshadow1: rgba(55, 55, 52, 0.8);
$boxshadow2: rgba(43, 43, 39, 0.8);
$boxshadow3: rgba(29, 29, 27, 0.8);
$boxshadow4: hsla(60, 2, 21, 0.83);
$fontshadow: rgba(6, 0, 0, 0.4);
//mixins
/*flex mixin*/
@mixin flex($justify) {
  display: flex;
  justify-content: $justify;
}
/*media queries*/
@mixin min-device($size) {
  @if $size == phone {
    @media (min-width: 375px) {
      @content;
    }
  } @else
  if $size == phone-h {
    @media (orientation: landscape) {
      @content;
    }
  } @else
  if $size == tablet-v {
    @media (min-width: 767px) {
      @content;
    }
  } @else
  if $size == smalldesk {
    @media (max-height: 767px) and (min-width: 960px) {
      @content;
    }
  } @else
  if $size == tablet {
    @media (min-width: 1024px) and (min-height: 768px) {
      @content;
    }
  }
}
//fonts

a {
  color: $linkcolor;
  text-decoration: none;

  &:hover, &:focus, &:active {
    text-decoration: underline;
    outline: none;
  }
}

h1 {
  visibility: hidden;
}

h2 {
  overflow: hidden;
  padding: 30px 0 50px;
  text-align: center;
  color: $typecolor;
  font: 500 2.3em "bodoni-urw";
  letter-spacing: 0.03em;
  -webkit-font-smoothing: antialiased;
  font-smoothing: grayscale;
  //text-decoration: underline;
  //text-decoration-skip: ink;
  //text-decoration-skip: edges;
  //text-decoration-line: underline;
  margin: 0 20px;
  text-shadow: 0 0 10px $fontshadow;
}

h2:after,
h2:before {
  background-color: #fff;
  content: "";
  display: inline-block;
  height: 0.07em;
  position: relative;
  vertical-align: middle;
  width: 15%;
  z-index: 0;
  box-shadow: 0 0 10px $fontshadow;
  @supports (-webkit-overflow-scrolling: touch) {
    vertical-align: top;
    margin-top: 25px;
  }
  @include min-device(tablet-v) {
    width: 30%;
  }
  @include min-device(tablet) {
    width: 35%;
  }
}

h2:before {
  right: 0.5em;
  margin-left: -50%;
}

h2:after {
  left: 0.5em;
  margin-right: -50%;
}

h3 {
  font: 500 1.8em/1em serenity;
  color: $typecolor;
  letter-spacing: 0.02em;
  padding: 0 20px 0 30px;
  text-shadow: 0 0 15px $fontshadow;
  -webkit-font-smoothing: antialiased;
  font-smoothing: grayscale;
}

p {
  color: $typecolor;
  font: 300 1.2em/1.05em serenity;
  letter-spacing: 0.02em;
  -webkit-font-smoothing: antialiased;
  font-smoothing: grayscale;
  padding: 0 15px 30px;
  text-shadow: 0 0 15px $fontshadow;
  @include min-device(tablet) {
    font: 300 1.43em/1.07em serenity;
  }
}
// reset

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
// global

body {
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  width: 100%;
  height: 100%;
}

section {
  @include flex(center);
}

.divider {
  height: 50px;
  background-color: $boxshadow;
  box-shadow: inset 0 -10px 10px -10px $fontshadow, inset 0 10px 10px -10px $fontshadow;
}

.container {
  @include flex(center);
  max-width: 1060px;
  flex-direction: column;
  flex-grow: 1;
}

article {
  max-width: 700px;
  align-self: center;
}

.article--left {
  @include min-device(tablet) {
    align-self: flex-start;
  }
}

.article--center {
  @include min-device(tablet) {
    align-self: center;
  }
}

.article--right {
  @include min-device(tablet) {
    align-self: flex-end;
  }
}

.color {
  background-color: #ccc;
}

.menu__button {
  color: $linkcolor;
  outline: 1px solid $linkcolor;
  background: none;
  border: none;
  font: 500 1.1em serenity;
  letter-spacing: 0.1em;
  //font-style: italic;
  margin: 0 25px;
  text-align: left;
  padding: 0 10px;
  -webkit-font-smoothing: antialiased;
  font-smoothing: grayscale;
  cursor: pointer;
  width: auto;
  text-align: center;
  height: 30px;
  @include min-device(tablet-v) {
    font: 500 1.4em serenity;
  }
  @include min-device(tablet) {
    margin: 0 45px;
  }

  &:hover, &:focus, &:active {
    outline: 3px solid $linkcolor;
    font-weight: 800;
    letter-spacing: 0.09em;
  }

}
/*--otwarciowe zdięcie i logo--*/
header {
  height: 100vh;
  box-shadow: 100vw 100vh $boxshadow inset;
  background: url("/assets/images/bcgr.jpg") 55% 0/cover no-repeat fixed;
  @supports (-webkit-overflow-scrolling: touch) {
    background-attachment: scroll;
  }
  @include min-device(smalldesk) {
    background-position-y: -50px;
  }

  .logo {
    width: 50vw;
    height: 100vh;
    background-image: url("/assets/images/mologowhite.svg");
    filter: drop-shadow(0px 0px 15px $fontshadow);
    background-size: 40vw auto;
    background-position: left 30px bottom 60px;
    @include min-device(phone-h) {
      background-position-y: 50%;
      background-size: 25vw auto;
    }
    @include min-device(tablet) {
      background-position: 80px 50%;
      background-size: 20vw auto;
    }
    background-repeat: no-repeat;
    background-attachment: fixed;
    @supports (-webkit-overflow-scrolling: touch) {
      background-attachment: scroll;
    }
  }
}
/* --- pasek menu ---- */
.menu__bar {
  @include flex(center);
  background-color: hsla(60, 1, 16, 1);
  z-index: 2;
  flex-grow: 1;
  box-shadow: 0 0 15px $fontshadow;

  .menu__bar--container {
    @include flex(space-between);
    align-items: center;
    flex-grow: 1;
  }

  .hidden {
    visibility: hidden;
  }

  .visible {
    visibility: visible;
    animation: fadein 2s;
  }
  @keyframes fadein {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  .menubar__logo {
    height: 40px;
    margin: 8px 0 8px 10px;
    @include min-device(phone) {
      margin: 8px 0 8px 20px;
    }
    @include min-device(tablet-v) {
      height: 58px;
    }
    @include min-device(tablet) {
      margin: 8px 0 8px 45px;
    }
  }
}
/* --- nawigacja ---- */
.header__button {
  position: fixed;
  top: 15px;
  right: 0;
  z-index: 999;
  @include min-device(tablet-v) {
    top: 25px;
  }
  @include min-device(tablet) {
    margin: 0 45px;
  }
}

.navi {
  display: block;
  position: fixed;
  right: 0;
  color: $typecolor;
  width: 100vw;
  height: 100vh;
  background-color: $darkmenu;
  box-shadow: 0 0 15px $fontshadow;
  z-index: 1000;
  @include min-device(smalldesk) {
    width: 680px;
  }
  @include min-device(tablet) {
    width: 680px;
  }

  .menu__button {
    margin: 25px;
    @include min-device(tablet) {
      margin: 25px 45px;
    }
  }

  .button__close {
    position: absolute;
    right: 25px;
    top: 20px;
    color: white;
    width: 50px;
    height: 50px;
    outline: none;
    background: none;
    border: none;
    cursor: pointer;

    &:hover {
      outline: none;
    }

    &:after {
      content: '';
      height: 50px;
      border-left: 5px solid #fff;
      position: absolute;
      transform: rotate(45deg);
      top: 0;
      right: 23px;
      @include min-device(tablet) {
        right: 23px;
      }
    }
    &:hover:after, &:focus:after, &:active:after {
      content: '';
      height: 50px;
      border-left: 7px solid #fff;
      position: absolute;
      transform: rotate(45deg);
      outline: none;
      top: 0;
      right: 22px;
      @include min-device(tablet) {
        right: 22px;
      }
    }

    &:before {
      content: '';
      height: 50px;
      border-left: 5px solid #fff;
      position: absolute;
      transform: rotate(-45deg);
      top: 0;
      right: 23px;
      @include min-device(tablet) {
        right: 23px;
      }
    }

    &:hover:before, &:focus:before, &:active:before {
      content: '';
      height: 50px;
      border-left: 7px solid #fff;
      position: absolute;
      transform: rotate(-45deg);
      outline: none;
      top: 0;
      right: 22px;
      @include min-device(tablet) {
        right: 22px;
      }
    }
  }

  ul.menubar__nav {
    padding-top: 20px;
    list-style: none;
    margin: 0 auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include min-device(phone) {
      padding-top: 30px;
    }
    @include min-device(phone-h) {
      margin-top: -90px;
    }
    @include min-device(tablet-v) {
      padding-top: 40px;
      margin-top: 0;
    }

    li.menubar__nav--elem {
      font: 500 1.8em/1.3em "bodoni-urw";
      letter-spacing: 0.04em;
      cursor: pointer;
      -webkit-font-smoothing: antialiased;
      font-smoothing: grayscale;
      @include min-device(phone) {
        font: 500 2em "bodoni-urw";
      }
      @include min-device(phone-h) {
        font: 500 1.8em/1.2em "bodoni-urw";
      }
      @include min-device(tablet-v) {
        font: 500 2.3em/1.6em "bodoni-urw";
      }

      &:hover, &:focus, &:active {
        text-decoration: underline;
        text-decoration-skip: ink;
        text-decoration-skip: edges;
        text-decoration-line: underline;
      }
    }
  }

  ul.social__nav {
    padding-top: 30px;
    list-style: none;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    @include min-device(phone-h) {
      padding: 0 10px;
    }
    @include min-device(smalldesk) {
      padding: 0 20px;
    }
    @include min-device(tablet) {
      padding: 30px 140px;
    }

    li.social__nav--elem {
      cursor: pointer;
      padding: 10px 15px;
      @include min-device(phone) {
        padding: 30px 20px;
      }
      @include min-device(phone-h) {
        padding: 10px 20px;
      }
      @include min-device(smalldesk) {
        padding: 0 20px;
      }
      @include min-device(tablet-v) {
        padding: 5vh 50px 3vh;
      }

      a {
        height: 52px;
        display: block;

        &:hover, &:focus, &:active {
          outline: none;
          border-bottom: 3px solid $linkcolor;
        }
      }
    }
  }
}
/* ---- sekcja bio ----*/
.bio {
  background: linear-gradient($boxshadow1, $boxshadow1);
  height: auto;
  @include min-device(tablet) {
    min-height: 100vh;
  }

  .bio--box {
    background: linear-gradient($boxshadow1, $boxshadow1), url("/assets/images/bcgr2.jpg") 50% 20px /contain no-repeat fixed #fff;
    @include min-device(tablet) {
      background-size: contain;
      background-position-x: 20%;
    }
    @supports (-webkit-overflow-scrolling: touch) {
      background-attachment: scroll;
      background-position-y: bottom;
    }

    article {
      padding-top: 74px;
      @include min-device(tablet) {
        align-self: flex-end;
      }

      p {
        color: $typecolor;
        font: 300 1.2em/1.1em serenity;
        letter-spacing: 0.02em;
        padding: 0 15px 30px;
        text-shadow: 0 0 15px $fontshadow;
        @include min-device(tablet) {
          font: 300 1.43em/1.12em serenity;
        }

        a {
          font-weight: 500;
          text-decoration: none;
          color: $typecolor;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
/*--- sekcja dyskografia ---*/
.albums {
  box-shadow: 100vw 100vh $boxshadow2 inset;
  height: auto;
  @include min-device(tablet) {
    min-height: 100vh;
  }

  .albums--box {
    background: linear-gradient($boxshadow2, $boxshadow2), url("/assets/images/bcgr3.jpg") -160px 40px /cover no-repeat fixed #fff;
    min-height: calc(100vh);
    @include min-device(tablet) {
      background-size: contain;
      background-position-x: 50%;
    }
    @supports (-webkit-overflow-scrolling: touch) {
      background-attachment: scroll;
      background-position-y: 0;
    }

    article {
      max-width: 740px;
      padding: 70px 0;

      h2:after,
      h2:before {
        width: 10%;
        @include min-device(tablet) {
          width: 30%;
        }
      }

      p {
        color: $typecolor;
        font: 300 1.2em/1.1em serenity;
        letter-spacing: 0.02em;
        -webkit-font-smoothing: antialiased;
        font-smoothing: grayscale;
        padding: 0 15px 30px 30px;
        text-shadow: 0 0 15px $fontshadow;
        @include min-device(tablet) {
          font: 300 1.43em/1.12em serenity;
        }

        a {
          font-weight: 500;
          text-decoration: none;
          color: $typecolor;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      ul {
        list-style: none;
        margin: 0 auto;
        height: auto;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        flex-wrap: wrap;
        z-index: 1000;

        li {
          display: flex;
          flex-basis: auto;
          flex-direction: row;
          justify-content: center;
          flex-grow: 2;
          margin: 50px 0;
          padding: 0 15px;

          time {
            transform: rotate(-90deg);
            color: $typecolor;
            font: 300 1.3em/1.08em serenity;
            letter-spacing: 0.1em;
            -webkit-font-smoothing: antialiased;
            font-smoothing: grayscale;
            width: auto;
            height: 25px;
            width: 43px;
            margin: 5px -6px 0 0;
            text-shadow: 0 0 15px $fontshadow;
          }

          img {
            box-shadow: 0 0 15px $fontshadow;
          }

          .album__desc {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex: 1;
            margin-top: -5px;
            min-heigt: 100px;
            width: 150px;
            @include min-device(phone) {
              width: 200px;
            }

            & > h3 {
              padding-left: 15px;
            }

            a {
              height: auto;
              margin-left: 15px;
              font: 500 1.3em serenity;
              text-decoration: none;
              -webkit-font-smoothing: antialiased;
              font-smoothing: grayscale;
              letter-spacing: 0.1em;
              outline: 1px solid $linkcolor;
              box-shadow: 0 0 10px $fontshadow, 0 0 10px $fontshadow inset;
              text-shadow: 0 0 15px $fontshadow;
              width: 140px;

              &:hover, &:focus, &:active {
                outline: 3px solid $linkcolor;
                font-weight: 800;
                letter-spacing: 0.09em;
              }

              & svg {
                margin: 3px 12px 0 10px;
                box-shadow: 0 0 15px $fontshadow;
              }
            }
          }
        }
      }
    }
  }
}
/* ---- sekcja projekty ----*/
.projects {
  box-shadow: 100vw 100vh $boxshadow1 inset;
  height: auto;
  @include min-device(tablet) {
    min-height: 100vh;
  }

  article {
    max-width: 720px;
    padding-top: 70px;

    h3 {
      text-align: center;
      padding-bottom: 30px;
    }

    p {
      color: $typecolor;
      font: 300 1.2em/1.1em serenity;
      letter-spacing: 0.02em;
      font-smoothing: antialiased;
      text-rendering: optimizeLegibility;
      padding: 0 15px 30px;
      text-shadow: 0 0 15px $fontshadow;
      @include min-device(tablet) {
        font: 300 1.43em/1.12em serenity;
      }

      a {
        font-weight: 500;
        text-decoration: none;
        color: $linkcolor;

        &:hover, &:focus, &:active {
          text-decoration: underline;
        }
      }
    }

    .project-slide {
      padding-top: 15px;
      margin: 0 auto;
      text-align: center;
      width: 100%;

      img {
        max-width: 90%;
        max-height: 90%;
        box-shadow: 0 0 10px $fontshadow;
      }
    }
  }
}
/*--- sekcja gallery ---*/
.gallery {
  box-shadow: 100vw 100vh $boxshadow3 inset;
  min-height: 100vh;

  .gallery--box {
    article {
      margin: 0;
      width: 300px;
      max-width: 800px;
      @include min-device(phone-h) {
        width: 500px;
      }
      @include min-device(tablet-v) {
        width: 740px;
      }
      @include min-device(tablet) {
        width: 800px;
      }
      @supports (-webkit-overflow-scrolling: touch) {}

      .slide {
        height: 15rem;
        display: flex;
        align-items: center;
        justify-content: center;
        @include min-device(phone-h) {
          height: 20rem;
        }
        @include min-device(tablet-v) {
          height: 30rem;
        }
        // @include min-device(tablet) {
        // width: 800px;
        // }
        img {
          max-width: 95%;
          max-height: 95%;
          box-shadow: 0 0 10px $fontshadow;
        }
      }
    }
  }
}
/*--- sekcja video ---*/
.video {
  background: linear-gradient($boxshadow3, $boxshadow3);
  height: auto;
  @include min-device(tablet-v) {
    min-height: 100vh;
  }

  .video--box {
    background: linear-gradient($boxshadow3, $boxshadow3), #fff;
    @include min-device(tablet-v) {
      background: linear-gradient($boxshadow3, $boxshadow3), url("/assets/images/bacgr4.gif") right bottom/contain no-repeat scroll #fff;
      background-size: auto;
    }
    @supports (-webkit-overflow-scrolling: touch) {
      background-attachment: scroll;
    }

    article {
      max-width: 720px;
      padding: 70px 0;

      ul {
        list-style: none;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        z-index: 1000;

        li {
          display: flex;
          flex-basis: auto;
          flex-direction: row;
          justify-content: center;
          flex-grow: 1;
          flex-wrap: wrap;
          margin: 25px 0;
          @include min-device(phone-h) {
            margin: 25px 0 25px 25px;
          }
          @include min-device(tablet) {
            margin: 25px 0 35px 35px;
          }

          iframe {
            outline: 1px solid white;
            box-shadow: 0 0 15px $fontshadow;
          }

          .video__desc {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex: 1;
            margin-top: -5px;
            min-height: 100px;
            max-width: 480px;

            & > h3 {
              padding: 15px 0 0 15px;
              width: 250px;
              @include min-device(phone-h) {
                padding: 15px 0 0 25px;
              }
              @include min-device(tablet-v) {
                padding: 15px 0 0 25px;
              }
            }
          }
        }
      }
    }
  }
}
/*--- sekcja footer ---*/
footer {
  @include flex(center);
  background-color: hsla(60, 1, 19, 1);
  z-index: 2;
  flex-grow: 1;
  box-shadow: inset 0 10px 10px -10px $fontshadow;

  .footer--container {
    @include flex(center);
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 1060px;
    flex-grow: 1;
    @include min-device(tablet) {
      justify-content: space-between;
    }

    a,
    p {
      font: 300 1.3em serenity;
      text-decoration: none;
      letter-spacing: 0.1em;
      -webkit-font-smoothing: antialiased;
      font-smoothing: grayscale;
      text-shadow: 0 0 15px $fontshadow;
    }

    .press {
      align-self: flex-start;
      width: 310px;
      display: flex;
      flex-direction: column;
      padding: 70px 0;
      @include min-device(phone) {
        width: 360px;
      }
      @include min-device(phone-h) {
        width: 400px;
      }

      a:hover, a:focus, a:active {
        text-decoration: underline;
      }

      a {
        display: block;
        height: 45px;
        margin-bottom: 30px;
        padding: 3px 0;
      }
    }

    .contact {
      align-self: flex-start;
      width: auto;
      padding: 70px 0;
      text-align: center;
      @include min-device(phone-h) {
        text-align: left;
      }

      h2 {
        @include min-device(tablet) {
          margin: 0 20px 0 40px;
        }
      }
      a {
        letter-spacing: 0.05em;
      }
      a:hover, a:focus, a:active {
        text-decoration: underline;
      }

      .icon {
        width: 60px;
        display: inline-block;
        text-align: center;
      }
    }
  }
}
